@tailwind base;
@tailwind components;
@tailwind utilities;

/* geral */
@layer utilities {
    .custom-hover {
      @apply hover:shadow-lg hover:shadow-green-500/90 hover:border-green-500/90 hover:border-b ease-out duration-300;
    }
}
  
p{
    @apply  xl:text-xl md:text-lg sm:text-base text-sm outfit;
}

h2{
    @apply xl:text-4xl md:text-3xl text-2xl md:pl-0 sm:pl-5 pl-5  source-code-pro2;
}

h3{
    @apply source-code-pro3;
}

section{
    @apply pt-16 pb-16 sm:px-5 md:px-20 lg:px-36 ;
}

p,h1,h2,h3{
    @apply dark:text-white;
}

/* fonts */

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.source-code-pro2 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.source-code-pro3 {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: light;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* li do heading pc e tablet*/

#Nevegação li{
    @apply custom-hover hidden xl:block rounded-md;
}

/* img rosto */
.desketop-img{
    @apply hidden;
}
@media (min-width: 1280px){
    .desketop-img{
        @apply block;
    }
}
@media (min-width: 1280px){
    .mobile-img{
        @apply hidden;
    }
}



/* section habilidades*/


.habilidade{
    @apply text-center py-1 px-2 rounded-lg ; 
}

.habilidade h3{
    @apply xl:text-2xl md:text-xl text-lg  ;
}

.habilidade img{
    @apply mx-auto;
}
/* Contato*/
.contato li a img{
    @apply mx-auto  aumentar ;
}

/* animação de aumentar de tamanho  */

.aumentar {
    transition: transform 300ms linear;
}

.aumentar:hover {
    transform: scale(1.3);
}


/* animação digitando */
@media (min-width: 1280px){
    .message{
        width: 520px;
        animation: digitando 2s steps(12), blink .3s infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid;
    
    
    }
}

@media (min-width: 1280px){
    .message2{
        width: 500px;
        animation: digitando 3s steps(25), blink .3s infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid;
    }
}


@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    30%{
        border-color: rgba(255, 255, 255, 0.2);
    }
}

